In [ ]:
angka_04 = range(50)
print(angka_04)
print('====================')
for isi in angka_04:
  print(isi)
print('====================')
for isi in range(0,20,5):
  print(isi)

range(0, 50)
====================
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
====================
0
5
10
15

In [ ]:
for bilangan_04 in range(150,215):
  print(bilangan_04)
print('===================================')
for bilangan_04 in range(150,215,15):
  print(bilangan_04)
print('===================================')
for isi_04 in range(100,300,20):
  print(isi_04)

150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
===================================
150
165
180
195
210
===================================
100
120
140
160
180
200
220
240
260
280

In [ ]:
angka_04 = [1,20,3,4,5,6]
terbesar = angka_04[0]
for i in range(len(angka_04)):
  if angka_04[i] > terbesar:
    terbesar = angka_04[i]
print(terbesar)

20

In [ ]:
bilangan_ganjil_04 = [1,3,5,7,9,11,31,15,17,19,21,27,23,25,29,13]
terbesar = bilangan_ganjil_04[0]
for i in range(len(bilangan_ganjil_04)):
  if bilangan_ganjil_04[i] > terbesar:
    terbesar = bilangan_ganjil_04[i]
print(terbesar)

31

In [8]:
angka_04= [1,3,5,3,1,6,7,5,9,15,8,9,1,3,6,15]
angka_unik_04 = []
for anggota in angka_04:
  if anggota not in angka_unik_04:
    angka_unik_04.append(anggota)
print(angka_unik_04)

[1, 3, 5, 6, 7, 9, 15, 8]

In [1]:
matrik_04 = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16],
]
print(matrik_04)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [2]:
matrik_04[2]

[9, 10, 11, 12]

In [3]:
matrik_04[1][3]

8

In [4]:
matrik_04[1][3]=50
print(matrik_04[1][3])

50

In [5]:
matrik_04

[[1, 2, 3, 4], [5, 6, 7, 50], [9, 10, 11, 12], [13, 14, 15, 16]]

In [8]:
for baris_04 in matrik_04:
  print(baris_04)
  for kolom_04 in baris_04:
    print(kolom_04)

[1, 2, 3, 4]
1
2
3
4
[5, 6, 7, 50]
5
6
7
50
[9, 10, 11, 12]
9
10
11
12
[13, 14, 15, 16]
13
14
15
16

In [ ]:
print('========== Morning Skincare ==========')

nama_04 = ('Facial Wash', 'Toner', 'Serum', 'Moisturizer', 'Sunscreen')
print(nama_04)

print('====================')
print(nama_04[0])

========== Morning Skincare ==========
('Facial Wash', 'Toner', 'Serum', 'Moisturizer', 'Sunscreen')
====================
Facial Wash

In [ ]:
print(nama_04[0:4])

('Facial Wash', 'Toner', 'Serum', 'Moisturizer')

In [ ]:
for isi in nama_04[0:4]:
  print(isi)

Facial Wash
Toner
Serum
Moisturizer

In [ ]:
bilangan_genap_04 = (2,4,6,8,10,2,8,12,2,16,4)
print(bilangan_genap_04)
print('====================')
print(bilangan_genap_04[0:4])

(2, 4, 6, 8, 10, 2, 8, 12, 2, 16, 4)
====================
(2, 4, 6, 8)

In [ ]:
for jumlah in bilangan_genap_04 [0:6]:
  print(jumlah)

2
4
6
8
10
2

In [ ]:
bilangan_genap_04.count(2)

3

In [ ]:
bilangan_genap_04.index(6)

2

In [ ]:
identitas_orang_04 = {
    'nama' : 'Diva Felizia',
    'umur' : 19,
    'apakah_singel' : False,
    'pekerjaan' : 'mahasiswa'
}

In [ ]:
print(identitas_orang_04['nama'])

Diva Felizia

In [ ]:
print(identitas_orang_04.get('nama'))

Diva Felizia

In [ ]:
print(identitas_orang_04.get('tanggal_lahir'))

None

In [ ]:
print(identitas_orang_04.get('tanggal_lahir', '18_november_2024'))

18_november_2024

In [ ]:
print(identitas_orang_04)

{'nama': 'Diva Felizia', 'umur': 19, 'apakah_singel': False, 'pekerjaan': 'mahasiswa'}

In [ ]:
identitas_orang_04['HP'] = '089685742339'
print(identitas_orang_04['HP'])

089685742339

In [ ]:
print(identitas_orang_04)

{'nama': 'Diva Felizia', 'umur': 19, 'apakah_singel': False, 'pekerjaan': 'mahasiswa', 'HP': '089685742339'}

In [ ]:
huruf_04 = {
    'a' : 'ayam',
    'b' : 'babi',
    'c' : 'cacing',
    'd' : 'domba',
    'e' : 'elang',
    'f' : 'flaminggo',
    'g' : 'gajah',
    'h' : 'harimau',
    'i' : 'ikan'
}
print('====================')
sandi_04 = input('masukkan sandi yang ingin ada buat')
sandi_huruf_04 = ''
for isi in sandi_04:
  sandi_huruf_04 += huruf_04.get(isi) + ' '
print(sandi_huruf_04)

====================
masukkan sandi yang ingin ada buatgab
gajah ayam babi

In [7]:
def full_name(nama_tanaman_04,nama_latin_04):
  print(f"nama tanaman hias adalah {nama_tanaman_04} {nama_latin_04}")

print('===================')

nama_tanaman_04 = input("Nama tanaman hias anda adalah  ")
nama_latin_04 = input("Nama latin tanaman hias anda adalah ")
full_name(nama_tanaman_04,nama_latin_04)

===================
Nama tanaman hias anda adalah  Anggrek
Nama latin tanaman hias anda adalah Orchidaceae
nama tanaman hias adalah Anggrek Orchidaceae

In [7]:
def kecepatan_sampai_04(jarak,waktu):
  kecepatan_04 = jarak/waktu
  print(kecepatan_04)
kecepatan_sampai_04(70,60)
a = kecepatan_sampai_04(70,60)
print(a)
print('=====================================')
def kecepatan_tempuh_04(jarak,waktu):
  kecepatan_04 = jarak/waktu
  print(kecepatan_04)
kecepatan_tempuh_04(80,60)
b = kecepatan_tempuh_04(80,60)
print(b)

1.1666666666666667
1.1666666666666667
None
=====================================
1.3333333333333333
1.3333333333333333
None